/* Main color code : #66c7ce*/

.heading{
    background-image: url("../img_src/faze.png");
    background-repeat: no-repeat;
    height: 163px;
    margin-top: 15px;
    background-position: center;
    position: relative;
}

nav ul {
    padding: 10px;
    font-size: large;
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    border-top: 3px double black;
    border-bottom: 1px solid #dbdbd9;
    background: #bdbdb9;
    color: white;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0;
}

nav li a:hover {
    background-color: darkcyan;
    border: 1px solid black;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    border-radius: 15%;
}

.input_form{
    border: 1px #66c7ce solid;
    width: 1200px;
    /*text-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    /*vertical-align: center;*/
}

/*#navbar {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/

.input_form textarea{
    width: 100px;
    height: 30px;
}
.error_output {
    color: darkred;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.name_filter {
    position: relative;
    bottom: 83px;
    left: 15px
}
.category_filter{
    display: block;
    position: relative;
    bottom: 70px;
    left: 15px
}

.output_table table,tr{
    width: 70%;
    /*box-sizing: border-box;*/
    /*v-align: center;*/
    /*border-spacing: 15px;*/
    /*padding: 10px;*/
    border-collapse: collapse;
    /*padding: 30px;*/

    /* Makes all borders as one*/
    /*border-collapse: collapse;*/

}

.output_table tr {
    margin-top: 100px;
    /*border-spacing: 15px;*/

}

.output_table tr:nth-child(even) {
    background-color: #eee;
}

.output_table tr:nth-child(odd) {
    background-color: #fff;
}

.button {
    background: white;
    padding: 5px;
    text-decoration: none;
    border: 2px solid darkcyan;
    border-radius: 5px;
}
.button:hover {
    text-transform: uppercase;
}

.delete_button{
    padding-left: 10px;
    margin-left: 15px;
}

.edit_button{
    padding-left: 10px;
    margin-left: 15px;


}

.hard_buttons {
    /*position: relative;*/
    /*display: inline-block;*/
    /*right: 30px;*/
    /*padding: 10px*/
    /*left: 100px*/
    /*valign: right;*/
}


.output_row {
    /*margin-top: 20px;*/
}

.custom_button{
    height: 36px;
    width: 100px;
    /*background: lightseagreen;*/
    background: #66c7ce;
    margin: 10px;
    /*float: right;*/
    border: 0px;
    color: #fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-box-shadow: 0px 0px 0 0 #31708f inset , 0px 0px 0 0 #31708f inset;
}
.custom_button:hover{
    -webkit-box-shadow: 50px 0px 0 0 #31708f inset , -50px 0px 0 0 #31708f inset;
}