.zull{
    background-image: url("../img/faze.png");
    background-repeat: no-repeat;
    height: 163px;
    margin-top: 10px;
    background-position: center;
    /*width: 100%;*/
    position: relative;
}
body{
    background-color: pink;
}
/*.zull{*/
/*    background-image: url("../Users/vassilimoskaljov/Desktop/My Fork/SalesBook/src/main/resources/img/fazeway.gif");*/
/*}*/
